<div class="toolbar">
  <h1 mat-dialog-title>Asset Lookup</h1>
  <div class="spacer"></div>
  <button mat-raised-button mat-dialog-close (click)="output()" type="submit" >Search</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
<hr>
<div mat-dialog-content class="flex-container">
  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter the Asset Name</mat-label>
      <input matInput placeholder="dlawcltininfo01.jewels.com" [(ngModel)]="assetName" required>
    </mat-form-field>
  </div>
</div>