<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="Angular Logo"
    src="assets/New-Signet-Logo_White.png"
  />
  <span>Welcome to Rapid7 Search & Reporting</span>
  <div class="spacer"></div>
    <p>Rapid7 Report Selector</p>
</div>

<!-- Resources -->
<div class="content" role="main">
  <h2>Resources</h2>
  <p></p>

  <div class="card-container" *ngIf="cards$ | async as cards">
    <a class="card" target="_blank" rel="noopener" *ngFor='let card of cards' (click)="openDialog(card.id)" (click)="onSelected(card.id)">
      <span>{{card.cardTitle}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>

  
  <!-- Footer -->
  <footer>
    <div>
      <h2>Selected Rapid7 Report:</h2>
        <div class="card highlight-card card-small">
          <span>2023-05-02-rapid7.csv</span>
        </div>
    </div>
  </footer>
</div>