<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="Angular Logo"
    src="assets/New-Signet-Logo_White.png"
  />
  <span>Welcome to Rapid7 Search & Reporting</span>
  <div class="spacer"></div>
  <button mat-raised-button (click)="openReportDialog()">Change Rapid7 Report</button>
</div>

<!-- Resources -->
<div class="content" role="main">
  <h2>Resources</h2>
  
  
  

  <div class="card-container" *ngIf="cards$ | async as cards">
    <a class="card" target="_blank" rel="noopener" *ngFor='let card of cards' (click)="openDialog(card.id)" (click)="onSelected(card.id)" (click)="onSelectedCard(card.name)">
      <span>{{card.cardTitle}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
</div>

  <!-- Resources -->
<div class="lookup" role="main">
  <h2>Lookups</h2>
  <div class="card-container" *ngIf="lookups$ | async as lookups">
    <a class="card" target="_blank" rel="noopener" *ngFor='let lookup of lookups' (click)="openLookup(lookup.id)" (click)="onSelectedLookup(lookup.id)">
      <span>{{lookup.lookupTitle}}</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>
  
  <!-- Footer 
  <footer>
    <div class="card-container">
    <mat-card class="card" *ngIf="chart$ | async as chart" >
      <div *ngFor='let ch of chart'>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
      <img mat-card-image [src]=ch.url alt="Chart Image">
      <mat-card-content>
       
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Expand</button>
      </mat-card-actions>
      </div>
    </mat-card>
  </div>
  </footer>
  -->
</div>